@import "../css/normalize.css";
@import "../css/font.css";
$white-color: #ffffff;
$black-color: #292830;
$bg-color: #ff7235;
$grey-color: #292830;
$grey2_color: #bdbdbd;
$choose_bg_color: #fffaf8;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 9999;
}

#content {
  display: none;
}

.rotate {
  width: 100px;
  height: 100px;
  background-color: #2ecc71;
  animation: rotate 2s infinite linear;
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1209px;
  margin: 0 auto;
  padding: 0 50px;
  overflow-x: hidden;
}

.header__hamburger {
  display: none;
  cursor: pointer;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 106px;
  margin-top: 57px;
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-family: "Hind Siliguri";
        font-size: 18px;
        font-weight: 400;
        line-height: 17.1px;
        color: $grey-color;
      }
    }
  }
  .header__btn button {
    background-color: $white-color;
    border: 1px solid $bg-color;
    border-radius: 8px;
    color: $bg-color;
    padding: 16px 18px;
    font-family: "Hind Siliguri";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $bg-color;
      color: $white-color;
    }
    &:active {
      transform: scale(0.8);
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.track_container {
  display: flex;
  align-items: center;
}

.track_title {
  padding-left: 50px;
}

.truck_text {
  h1 {
    font-family: Hind Siliguri;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: $black-color;
    padding-bottom: 20px;
  }
  p {
    font-family: Hind Siliguri;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: $grey2_color;
  }
}

.truck_button button {
  padding: 15px 20px;
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.81px;
  color: $white-color;
  background-color: $bg-color;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  &:hover {
    background-color: #f4885b;
    color: $white-color;
  }
  &:active {
    transform: scale(0.8);
  }
}

.track {
  padding-bottom: 219px;
}

.truck_button {
  display: flex;
  align-items: center;
  gap: 30px;
}

.track_img img {
  width: 450px;
  margin-right: 40px;
}

.text_bottom p {
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.81px;
  color: $grey2_color;
  padding-top: 40px;
}

.overview {
  background-color: $bg-color;
  background-image: url(../img/bacground.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.overwiev_img img {
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 0px;
  display: flex;
}

.pense_container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 82px;
}

.alwalys {
  padding-bottom: 100px;
}

.alwalys_container {
  display: flex;
  align-items: center;
}

.alwalys_title {
  overflow-y: hidden;
  max-width: 540px;
  h4 {
    font-family: Hind Siliguri;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    color: $grey2_color;
    padding-top: 140px;
    padding-bottom: 24px;
  }
  h2 {
    font-family: Hind Siliguri;
    font-size: 70px;
    font-weight: 700;
    color: $black-color;
    padding-bottom: 24px;
  }
  p {
    font-family: Hind Siliguri;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: $grey2_color;
    padding-bottom: 24px;
  }
  a {
    font-family: Hind Siliguri;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $bg-color;
  }
}

.alwalys_img img {
  padding-top: 30px;
}

.product_title {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  padding-top: 100px;
}

.product_title h2 {
  font-family: Hind Siliguri;
  font-size: 90px;
  font-weight: 700;
  color: $grey-color;
}

.product_title p {
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.81px;
  color: $grey2_color;
  margin-left: 100px;
  max-width: 350px;
}

.product {
  background-color: $white-color;
}

.product_card {
  max-width: 350px;
  height: 350px;
  text-align: center;
  padding-top: 70px;
  margin-top: 80px;
  transition: 0.3s;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: $white-color;
    -webkit-box-shadow: 9px 7px 14px 4px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 7px 14px 4px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 7px 14px 4px rgba(0, 0, 0, 0.67);
  }
  &:active {
    transform: scale(0.8);
  }
}

.product_card h2 {
  font-family: Hind Siliguri;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: $black-color;
  padding-top: 24px;
  padding-bottom: 14px;
}

.pense_container img {
  filter: grayscale(100%);
  opacity: 0.25;
  transition: all 0.4s ease-in-out;
}

.pense_container img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.product_card p {
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.64px;
  color: $grey2_color;
}

.product {
  padding-bottom: 130px;
}

.product_card img {
  padding-top: 8px;
}

.product_c {
  display: flex;
  align-items: center;
  gap: 30px;
}

.choose {
  background-color: $choose_bg_color;
}

.choose_title h2 {
  font-family: Hind Siliguri;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  padding-bottom: 80px;
}

.card_a a {
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.11px;
  text-align: left;
  color: $black-color;
}

.card_href {
  padding-bottom: 15px;
}

.choose_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.choose_card {
  padding-bottom: 30px;
  max-width: 350px;
  padding: 41px 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: $white-color;
    -webkit-box-shadow: 9px 7px 14px 4px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 7px 14px 4px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 7px 14px 4px rgba(0, 0, 0, 0.67);
  }
  &:active {
    transform: scale(0.8);
  }
}

.choose_card h3 {
  font-family: Hind Siliguri;
  font-size: 32px;
  font-weight: 600;
  line-height: 51.74px;
  text-align: left;
  color: $black-color;
}

.choose_card h4 {
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 600;
  line-height: 38.81px;
  text-align: left;
  color: $black-color;
  span {
    font-family: Hind Siliguri;
    font-size: 20px;
    font-weight: 300;
    line-height: 32.34px;
    text-align: left;
    color: $grey2_color;
  }
}

.choose_card h6 {
  font-family: Hind Siliguri;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.4px;
  color: $grey2_color;
  padding-bottom: 20px;
}

.choose_button {
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.87px;
  text-align: left;
  color: $bg-color;
  padding: 6px 5px;
  border: 1px solid $bg-color;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: $bg-color;
    color: $white-color;
  }
  &:active {
    transform: scale(0.8);
  }
}

.choose_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 1200px) {
  .truck_text h1 {
    font-size: 50px;
    padding-bottom: 20px;
  }
  .track_container {
    flex-direction: column;
  }
  .track_img img {
    width: 600px;
    margin-top: 100px;
  }
  .pense_container {
    flex-wrap: wrap;
  }
  .product_title h2 {
    font-size: 60px;
    font-weight: 500;
  }
}

@media (max-width: 992px) {
  .alwalys_container {
    gap: 30px;
  }
  .alwalys_title h2 {
    font-size: 50px;
  }
  .alwalys_title p {
    font-size: 18px;
  }
  .alwalys_title h4 {
    font-size: 18px;
  }
  .alwalys_title a {
    font-size: 20px;
  }
  .alwalys_img img {
    width: 400px;
  }
  .track {
    padding-bottom: 50px;
  }
}

@media (max-width: 900px) {
  .header__btn button {
    display: none;
  }
  .header__container {
    .header__nav {
      display: flex;
    }
  }
  .truck_text h1 {
    font-size: 30px;
  }
  .truck_text p {
    font-size: 18px;
  }
  .truck_button button {
    font-size: 18px;
    padding: 10px 15px;
  }
  .text_bottom p {
    font-size: 18px;
  }
  .track_img img {
    width: 400px;
  }
  .pense_container img {
    max-width: 100px;
  }
  .product_title h2 {
    font-size: 80px;
  }
  .alwalys_container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .alwalys_title h2 {
    font-size: 40px;
  }
  .alwalys_title p {
    font-size: 20px;
  }
  .alwalys_container {
    flex-direction: column;
  }
  .track_img img {
    display: none;
  }
  .header__container {
    .header__nav {
      gap: 20px;
    }
  }
  .product_title {
    flex-direction: column;
    text-align: center;
  }
  .truck_text h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  .truck_button {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 576px) {
  .header__hamburger {
    display: block;
  }
  .truck_text h1 {
    font-size: 60px;
  }
  .truck_text p {
    font-size: 30px;
  }
  .overwiev_img img {
    display: none;
  }
  .track_container {
    text-align: center;
    align-items: center;
    padding-bottom: 0px;
  }
  .pense_container {
    display: none;
  }
  .product_title p {
    padding-right: 80px;
  }
  .truck_button button {
    font-size: 10px;
    padding: 7px 10px;
  }
  .header__container {
    .header__nav {
      display: none;
    }
  }
}

@media (max-width: 535px) {
  .truck_text h1 {
    font-size: 30px;
  }
  .truck_text p {
    font-size: 10px;
  }
  .truck_button button {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media (max-width: 400px) {
  .truck_text h1 {
    line-height: 20px;
    font-size: 20px;
  }
  .header__nav {
    display: none;
  }
  .truck_text p {
    font-size: 8px;
  }
  .truck_button button {
    font-size: 8px;
    padding: 5px 10px;
  }
}
